{% extends "base.html" %}

{% block head %}

<title>Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/trending.css') }}">

{% endblock %}

{% block body %}

<div class="header">
    <a href="https://twitter.com/search?q=%23Tweetstorian%0A" class="logo">#TweetStorian - Trending In History</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/admin" class="active">Admin</a>
    </div>
</div>

<div class="main_div">

    <select name="date_select" id="date_select" class="date_select" onChange="window.location.href=this.value">
        <option value="/admin" selected> Select date </option>
        {% for row in all_dates %}   
            
            {% if row.date_string == date_string %}
                <option value="/admin?date={{row.date_string}}" selected> {{ row.date_string }}</option>
            {% else %}
                <option value="/admin?date={{row.date_string}}"> {{ row.date_string }}</option>
            {% endif %}
            
        {% endfor %}

    </select>

    <div class="additional_info_div">
        {% if additional_info|length > 0 %}
            {% for info in additional_info%}

            <p name="info_string">{{ info.additional_info_string }}</p>
            <p name="source_string">{{ info.sources_url_string }}</p>
            <button class="delete_button" onclick="window.location.href='/admin/delete/{{info.id}}/{{date_string}}'"> Delete </button>

            {% endfor %}
        {% endif %}
    </div>

    <form method="post">
        <br>
        <label for="info">Additional information</label>
        <br>
        <textarea name="info" placeholder="What happened on this day?" rows="15" cols="60"> {{ request.form['info'] }} </textarea>
        <br>
        <br>
        <label for="source">Source</label>
        <br>
        <input type="text" name="source" placeholder="URL" value="{{ request.form['source'] }}">
        </input>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>


</div>

<div class="footer"></div>

{% endblock %}