{% extends "base.html" %}

{% block head %}

<title>TweetStorian {{date_string}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/trending.css') }}">

{% endblock %}

{% block body %}

<div class="header">
    <a href="https://twitter.com/search?q=%23tweetstorian%0A" class="logo">#TweetStorian - Trending In History</a>
    <div class="header-right">
        <a href="/about" class="active">Home</a>
        <a href="/about">About</a>
    </div>
</div>

<div class="main_div">

    <h1>Trending data for: {{date_string}} {% if date_string == today%}(today){% endif %}</h1>
    <h1>{{bearer_token}}</h1>

    <select name="date_select" id="date_select" class="date_select" onChange="window.location.href=this.value">

        {% for row in all_dates %}   
            
            {% if row.date_string == date_string %}
                <option value="/?date={{row.date_string}}" selected> {{ row.date_string }}</option>
            {% else %}
                <option value="/?date={{row.date_string}}"> {{ row.date_string }}</option>
            {% endif %}

        {% endfor %}

    </select>

    {% if trends|length > 0 %}

        {% for trend_div in trends|batch(10) %}
            
            <div class="trend_div">
                {% for trend in trend_div %}
                {% if trend.get("tweet_volume") == None %}
                    {% set tweet_volume = "Tweet volume not available for this trend" %}
                {% else %}
                    {% set tweet_volume = trend.get("tweet_volume")|string + " Tweets" %}
                {% endif %}
                    <p>
                        <a href="{{trend.get('url')}}" target="_blank" class="trend_link" title="{{tweet_volume}}">{{trend.get("name")}}</a> 
                    </p>
                {% endfor %}
            </div>

        {% endfor %}

    {% else %}
            <p>No trends available for selected date.</p>
    {% endif %}

</div>

<div class="footer">

</div>

{% endblock %}